<template id="book-modal-template">
  <div class="book-modal-backdrop">
    <div class="book-modal">
      <button class="book-modal__close" data-action="close-modal">
        <svg class="icon" width="14" height="14">
          <use href="./img/icons.svg#icon-decline"></use>
        </svg>
      </button>
      <div class="book-modal__content">
        <img class="book-modal__image" src="" alt="Book Cover" />
        <div class="book-modal__info">
          <h2 class="book-modal__title"></h2>
          <p class="book-modal__author"></p>
          <p class="book-modal__price"></p>
          <div class="book-modal__quantity">
            <button class="qty-btn" data-action="decrement">-</button>
            <span class="qty-value">1</span>
            <button class="qty-btn" data-action="increment">+</button>
          </div>
          <div class="book-modal__buttons">
            <button class="book-modal__add-to-cart">Add to Cart</button>
            <button class="book-modal__buy-now">Buy Now</button>
          </div>
          <div class="book-modal__details">
            <button class="accordion details">
              <span>Details</span>
              <svg class="accordion-icon" width="12" height="8">
                <use href="./img/icons.svg#icon-down"></use>
              </svg>
            </button>
            <div class="panel book-modal__description"></div>

            <button class="accordion">
              <span>Shipping</span>
              <svg class="accordion-icon" width="12" height="8">
                <use href="./img/icons.svg#icon-down"></use>
              </svg>
            </button>
            <div class="panel book-modal__shipping"></div>

            <button class="accordion">
              <span>Returns</span>
              <svg class="accordion-icon" width="12" height="8">
                <use href="./img/icons.svg#icon-down"></use>
              </svg>
            </button>
            <div class="panel book-modal__returns"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
