<section class="feedback">
    <div class="container">
      <h2 class="feedback-title">Customer Feedbacks</h2>
      <h3 class="feedback-subtitle">See what our readers are saying about us!</h3>
      <div class="slider-container">
          <div class="swiper">
            <ul class="swiper-wrapper" role="list">
              <li class="swiper-slide">
                <p class="feedback-text">
                  Great selection, fast delivery, and beautifully packaged books. My go-to store for weekend reads!
                </p>
                <div class="feedback-author">
                  <img
                    src="../img/feedback/jane.jpg"
                    alt="Фото Jane Doe"
                    srcset="/img/feedback/jane.jpg 1x, /img/feedback/jane@2x.jpg 2x"
                    width="48"
                    height="48"
                  />
                  <div>
                    <p class="feedback-author-name">Jane Doe</p>
                    <p class="feedback-author-role">Book Lover, Reader</p>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <p class="feedback-text">
                  Customer service was super helpful, and my order arrived earlier than expected. Highly recommend!
                </p>
                <div class="feedback-author">
                  <img
                    src="../img/feedback/john.jpg"
                    alt="Фото John Smith"
                    srcset="/img/feedback/john.jpg 1x, /img/feedback/john@2x.jpg 2x"
                    width="48"
                    height="48"
                  />
                  <div>
                    <p class="feedback-author-name">John Smith</p>
                    <p class="feedback-author-role">Editor, BookMag</p>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <p class="feedback-text">
                  Love the curated picks and clear descriptions. Makes it easy to find my next favorite book.
                </p>
                <div class="feedback-author">
                  <img
                    src="../img/feedback/emily.jpg"
                    alt="Фото Emily Johnson"
                    srcset="/img/feedback/emily.jpg 1x, /img/feedback/emily@2x.jpg 2x"
                    width="48"
                    height="48"
                  />
                  <div>
                    <p class="feedback-author-name">Emily Johnson</p>
                    <p class="feedback-author-role">Author, Novelist</p>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <p class="feedback-text">
                  Always impressed by the variety and quality. Shopping here feels like a treat every time.
                </p>
                <div class="feedback-author">
                  <img
                    src="../img/feedback/ed.jpg"
                    alt="Фото Emily Johnson"
                    srcset="/img/feedback/ed.jpg 1x, /img/feedback/ed@2x.jpg 2x"
                    width="48"
                    height="48"
                  />
                  <div>
                    <p class="feedback-author-name">Ed Donovan</p>
                    <p class="feedback-author-role">Literature Enthusiast</p>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <p class="feedback-text">
                  Quick shipping and excellent packaging. The perfect place for book lovers!
                </p>
                <div class="feedback-author">
                  <img
                    src="../img/feedback/viktoria.jpg"
                    alt="Фото Emily Johnson"
                    srcset="/img/feedback/viktoria.jpg 1x, /img/feedback/viktoria@2x.jpg 2x"
                    width="48"
                    height="48"
                  />
                  <div>
                    <p class="feedback-author-name">Sophie Turner</p>
                    <p class="feedback-author-role">Editor, Book Reviewer</p>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <p class="feedback-text">
                  Friendly staff and seamless checkout process. I’ll definitely be back for more reads.
                </p>
                <div class="feedback-author">
                  <img
                    src="../img/feedback/ihor.jpg"
                    alt="Фото Emily Johnson"
                    srcset="/img/feedback/ihor.jpg 1x, /img/feedback/ihor@2x.jpg 2x"
                    width="48"
                    height="48"
                  />
                  <div>
                    <p class="feedback-author-name">Michael Carter</p>
                    <p class="feedback-author-role">Writer, Journalist</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
    </div>
    <div class="navigation">
      <div class="swiper-pagination"></div>
      <div>
          <button class="swiper-button-prev" type="button"><svg width="14" height="14">
            <use href="../img/icons.svg#icon-left2"></use>
          </svg></button>
            <button class="swiper-button-next" type="button"><svg width="14" height="14">
              <use href="../img/icons.svg#icon-right2"></use>
            </svg></button>
      </div>
  </div>
  </section>
  