<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo-nav">
      <a href="" class="logo">
        <svg width="84" height="36" class="icon-logo">
          <use href="/img/icon-logo.svg#icon-Company-Logo"></use>
        </svg>
      </a>
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li><a href="#hero" class="footer-nav-item">Home</a></li>
          <li><a href="#books-id" class="footer-nav-item">Books</a></li>
          <li><a href="#feedback" class="footer-nav-item">Feedback</a></li>
          <li><a href="#location" class="footer-nav-item">Location</a></li>
        </ul>
      </nav>
    </div>
    <div class="join-section">
      <p class="join-section-title">Join</p>
      <form class="subscribe-form">
        <input
          type="text"
          name="email"
          placeholder="Enter your email"
          required
        />
        <button type="submit">Sign Up</button>
      </form>
      <p class="required-note">* Required field</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2025 Booksy. All rights reserved.</p>
  </div>
</footer>
