<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo-nav">
      <a href="" class="logo">
        <svg class="icon-logo" width="84" height="36">
          <use href="/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <nav class="footer-nav">
        <a href="#">Home</a>
        <a href="#">Books</a>
        <a href="#">Feedback</a>
        <a href="#">Location</a>
      </nav>
    </div>
    <div class="join-section">
      <p class="join-section-title">Join</p>
      <form class="subscribe-form">
        <input
          type="email"
          name="email"
          placeholder="Enter your email*"
          required
        />
        <button type="submit">Sign Up</button>
      </form>
      <p class="required-note">* Required field</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2025 Booksy. All rights reserved.</p>
  </div>
</footer>
