<header class="page-header">
  <div class="container header-container">
    <a class="header-logo" href="./index.html">
      <svg class="icon" width="84" height="36">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="#hero" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#books-id" class="nav-link">Books</a></li>
        <li class="nav-item">
          <a href="#feedback" class="nav-link">Feedbacks</a>
        </li>
        <li class="nav-item"><a href="#events" class="nav-link">Events</a></li>
        <li class="nav-item">
          <a href="#location" class="nav-link">Location</a>
        </li>
      </ul>
      <button class="mobile-menu-btn" type="button" data-menu-open>
        <svg class="icon" width="16" height="24">
          <use href="./img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
