<section class="container-hero-section">
  <div class="container">
    <div class="container-list">
      <div class="hero-main-slider">
        <ul class="container-slider swiper-wrapper">
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/hero/pc/banner1-pc-min.jpg    1x,
                  /img/hero/pc/banner1-pc-min@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  /img/hero/tablet/banner1-tab-min.jpg    1x,
                  /img/hero/tablet/banner1-tab-min@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/hero/mobile/banner1-mob-min.jpg    1x,
                  /img/hero/mobile/banner1-mob-min@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="hero-img"
                src="../img/hero/mobile/banner1-mob-min.jpg"
                alt="Flat lay of a cozy reading nook: an open book, soft knitted blanket, warm natural light coming through curtains, a ceramic mug on a wooden surface. No text, clean composition for overlay"
              />
            </picture>
            <div class="hero-text-content hero-text-banner-1">
              <h2>Get 10% off your first order</h2>
            </div>
            <a href="#books-id" class="shop-now-btn">Shop Now!</a>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/hero/pc/banner2-pc-min.jpg    1x,
                  /img/hero/pc/banner2-pc-min@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  /img/hero/tablet/banner2-tab-min.jpg    1x,
                  /img/hero/tablet/banner2-tab-min@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/hero/mobile/banner2-mob-min.jpg    1x,
                  /img/hero/mobile/banner2-mob-min@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="hero-img"
                src="../img/hero/mobile/banner2-mob-min.jpg"
                alt="Minimalistic composition with a neutral background, soft shadows from a book and a pair of glasses on a clean desk. Light aesthetic with space for adding text on top"
              />
            </picture>
            <div class="hero-text-content hero-text-banner-2">
              <h2>Save 15% on some books</h2>
            </div>
            <a href="#books-id" class="shop-now-btn">Shop Now!</a>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/hero/pc/banner3-pc-min.jpg    1x,
                  /img/hero/pc/banner3-pc-min@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  /img/hero/tablet/banner3-tab-min.jpg    1x,
                  /img/hero/tablet/banner3-tab-min@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/hero/mobile/banner3-mob-min.jpg    1x,
                  /img/hero/mobile/banner3-mob-min@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="hero-img"
                src="../img/hero/mobile/banner3-mob-min.jpg"
                alt="A softly blurred bookshelf filled with colorful book spines, warm ambient lighting, and a shallow depth of field. Suitable as a background image for homepage banners."
              />
            </picture>
            <div class="hero-text-content hero-text-banner-3">
              <h2>Summer Sale! Up to -40% discounts</h2>
            </div>
            <a href="#books-id" class="shop-now-btn">Shop Now!</a>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/hero/pc/banner4-pc-min.jpg    1x,
                  /img/hero/pc/banner4-pc-min@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  /img/hero/tablet/banner4-tab-min.jpg    1x,
                  /img/hero/tablet/banner4-tab-min@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/hero/mobile/banner4-mob-min.jpg    1x,
                  /img/hero/mobile/banner4-mob-min@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="hero-img"
                src="../img/hero/mobile/banner4-mob-min.jpg"
                alt="A soft, lifestyle scene showing a coffee table with an open book, reading glasses, a small vase with dried flowers, and gentle morning sunlight casting shadows. The background is airy and uncluttered, perfect for placing text or a CTA"
              />
            </picture>
            <div class="hero-text-content hero-text-banner-4">
              <h2>Last chance to buy our spring bestsellers</h2>
            </div>
            <a href="#books-id" class="shop-now-btn">Shop Now!</a>
          </li>
        </ul>
      </div>

      <div class="hero-tytle-sleder">
        <div class="slider-nav-buttons">
          <button class="swiper-button-hero-prev" type="button">
            <svg width="14" height="14">
              <use href="../img/icons.svg#icon-left2"></use>
            </svg>
          </button>
          <button class="swiper-button-hero-next" type="button">
            <svg width="14" height="14">
              <use href="../img/icons.svg#icon-right2"></use>
            </svg>
          </button>
        </div>
        <h1 class="title-hero">Discover Your Next Great Read Today!</h1>
      </div>
    </div>
  </div>
</section>
