<section class="location container" id="location">
<div class="loc-wrap">
    <div class="loc-text-wrapper">
        <p class="loc-subtitle">Location</p>
        <h2 class="loc-title">How to find us</h2>
        <p class="loc-text">
            Visit us at the address below and step into a world of books, stories, knowledge, and inspiration.
        </p>
    </div>

    <div class="loc-address-wrap">
        <address class="loc-address">
            <ul class="loc-list">
                <li class="loc-item">
                    <svg class="loc-svg ">
                        <use href="/img/icons.svg#icon-mail"></use>
                    </svg>
                    <div class="loc-address-group">
                        <p class="loc-group-text">Email</p>
                        <a class="loc-group-link" href="hello@booksy.com">hello@booksy.com</a>
                    </div>
                </li>
                <li class="loc-item">
                    <svg class="loc-svg">
                        <use href="/img/icons.svg#icon-phone"></use>
                    </svg>
                    <div class="loc-address-group">
                        <p class="loc-group-text">Phone</p>
                        <a class="loc-group-link" href="+61(241)3043012">+61 (241) 304-3012</a>
                    </div>
                </li>
                <li class="loc-item">
                    <svg class="loc-svg">
                        <use href="/img/icons.svg#icon-geo"></use>
                    </svg>
                    <div class="loc-address-group">
                        <p class="loc-group-text">Office</p>
                        <p class="loc-group-item-address">
                            123 Books St, Sydney NSW 2000 AU
                        </p>
                    </div>
                </li>
            </ul>
        </address>
    </div>
</div>
<div class="loc-map">
    <iframe class="loc-map-iframe"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d212213.22265953102!2d150.8044167971309!3d-33.790846512234154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12a43734844bf1%3A0xfa71fed6a320aebf!2zU3lkbmV5IEJvb2tsYW5kIOyLnOuTnOuLiOu2geuenOuTnCDtlZzsnbgg7ISc7KCQ!5e0!3m2!1sru!2sua!4v1751535131828!5m2!1sru!2sua"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


<!-- running line -->

    <div class="marquee-container">
        <div class="marquee-content" id="marquee-content">
            <span> GoIT</span>
            <span>Fullstack</span>
            <span>JavaScript 3.0</span>
            <span>FSON 117</span>
            <span>project-8</span>
            <span> GoIT</span>
            <span>Fullstack</span>
            <span>JavaScript 3.0</span>
            <span>FSON 117</span>
            <span>project-8</span>
        </div>
        </div>



</section>



    
 