<div class="mobile-menu -is-open">
  <div class="container">
    <div class="menu-header">
      <a class="header-logo" href="./index.html">
        <svg class="icon" width="84" height="36">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <button class="mobile-menu-btn" type="button" data-menu-open>
        <svg class="icon" width="16" height="24">
          <use href="./img/icons.svg#icon-decline"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="#home" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#books" class="nav-link">Books</a></li>
        <li class="nav-item">
          <a href="#feedback" class="nav-link">Feedbacks</a>
        </li>
        <li class="nav-item"><a href="#events" class="nav-link">Events</a></li>
        <li class="nav-item">
          <a href="#location" class="nav-link">Location</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
