:root{
  --main-font: 'Rubik', sans-serif;
  --main-color: #0b0500;
  --main-background-color: #fceee6;
}

body{
  font-family: var(--main-font);
  color: var(--main-color);
  background-color: var(--main-background-color);
}

html {
  scroll-behavior: smooth;
  min-width: fit-content;
}
