.feedback {
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 64px;
}

.feedback-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #0b0500;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 24px;
    text-align: left;
}

@media screen and (min-width: 1440px) {
    .feedback-title {
        font-size: 48px;
    }
}

.feedback-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #0b0500;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 80px;
    text-align: left;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.swiper-slide {
    border: 1px solid rgba(11, 5, 0, 0.15);
    border-radius: 16px;
    padding: 32px 32px 102px 32px;
    max-width: 341px;

}

@media screen and (min-width: 768px) {
    .swiper-slide {
        padding: 32px;
        max-width: 340px;
        width: 100%;
        height: 244px;
    }
}

@media screen and (min-width: 1440px) {
    .swiper-slide {
        max-width: 421px;
        height: 217px;
    }
}

.feedback-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #0b0500;
    max-width: 100%;
    margin-bottom: 24px;
}

.feedback-author {
    display: flex;
    align-items: center;
    min-width: 277px;
    gap: 16px;
}

.feedback-author img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    object-fit: cover;
}

.feedback-author-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #0b0500;
}

.feedback-author-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #0b0500;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 32px;

}

.swiper-button-prev {
    margin-right: 16px;
}

.swiper-button-next,
.swiper-button-prev {
    border: 1px solid rgba(11, 5, 0, 0.15);
    padding: 12px;
    width: 48px;
    height: 48px;
    background: #e15d05;
    color: white;
    cursor: pointer;
    text-align: center;
    fill: #fff;

    position: relative;
    overflow: hidden;
}

.swiper-button-next svg,
.swiper-button-prev svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.swiper-button-next:hover,
.swiper-button-prev:hover,
.swiper-button-next:focus,
.swiper-button-prev:focus {
    border: 1px solid rgba(11, 5, 0, 0.15);
    padding: 12px;
    width: 48px;
    height: 48px;
    background: #fceee6;
    fill: #0b0500;
}

/* .swiper-button-next:hover,
.swiper-button-prev:hover{
    border: 1px solid rgba(11, 5, 0, 0.15);
    padding: 12px;
    width: 48px;
    height: 48px;
    background: #fceee6;
} */

.swiper-button-next:active,
.swiper-button-prev:active {
    background: #5a2502;
    fill: #fff;
}


.swiper-button-prev[disabled],
.swiper-button-next[disabled] {
    background: #e15d05;
    opacity: 0.2;
    cursor: default;
    pointer-events: none;
    fill: #0b0500;
}

.swiper-pagination {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.custom-bullet {
    width: 8px;
    height: 8px;
    background: #0b0500;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s, background-color 0.3s;
}

.custom-bullet-active {
    background: #0b0500;
    opacity: 1;
}