.no-scroll {
  overflow: hidden;
}

.container.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  padding: 14px 0;
}
.header-logo {
  margin-left: 4px;
}

.nav-list {
  display: none;
  gap: 32px;
}

.mobile-menu-btn {
  border: 0;
  outline: none;
  background: none;
  width: 48px;
  height: 48px;
  padding: 8px 12px;
  margin-right: -4px;
}

/* Styles for Mobile devices */
@media only screen and (min-width: 375px) {
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .header-nav {
    padding: 16px 0;
  }

  .header-logo {
    padding: 16px 0;
    margin-left: 0;
  }

  .nav-list {
    /* display: none; */
    display: flex;
    gap: 32px;
  }

  .nav-link {
    padding: 8px 0;
  }

  .mobile-menu-btn {
    display: none;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
}
